{% load custom_filters %}

<style>
  .fade-out {
    transition: opacity 0.5s ease-out;
    opacity: 0;
  }
</style>

{% if messages %}
  <div class="fixed top-4 right-4 z-50 space-y-4">
    {% for message in messages %}
      <div id="message-{{ forloop.counter }}" class="alert {{ message.tags|tailwind_message_class }} p-4 rounded-lg relative flex items-center" role="alert">
<!--        <button type="button" class="close text-gray-700 hover:text-gray-900 focus:outline-none absolute top-0 right-0 mt-2 mr-2" onclick="closeMessage('message-{{ forloop.counter }}')" aria-label="Close">-->
<!--          <span class="text-xl" aria-hidden="true">&times;</span>-->
<!--        </button>-->
        <strong class="mr-2">
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            Error:
          {% else %}
            {{ message.tags|title }}
          {% endif %}
        </strong>
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}

<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Function to close the message with animation
    window.closeMessage = function(id) {
      var messageElement = document.getElementById(id);
      if (messageElement) {
        messageElement.classList.add('fade-out');
        setTimeout(function() {
          messageElement.style.display = 'none';
        }, 500); // match this time with your CSS transition duration
      }
    };

    // Automatically close messages after 3 seconds
    var messages = document.querySelectorAll('.alert');
    messages.forEach(function(message, index) {
      setTimeout(function() {
        closeMessage('message-' + (index + 1));
      }, 3000);
    });
  });
</script>
